.weather_column {
    float: left;
    width: 33%;
}

.weather_row:after {
    content: "";
    display: table;
    clear: both;
}

.weather_map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 500px;
}

.slide_select {
    width: 100%;
    text-align: center;
}

.selector {
    font-size: 16px;
    background-color: #208823;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.weather_time {
    text-align: center;
}